<div class="container">
  <h2>Chatroom</h2>
</div>

<div class="container">
  <div>

    <div style="margin-bottom: 10px;">
      <h3>Namen eingeben</h3>
      <input [(ngModel)]="chatName">
    </div>

    <div>
      <div class="chatroom">
        <!--        <div>-->
        <!--          <div class="message-container">-->
        <!--            <span class="message-name">Tilman</span>-->
        <!--            <span class="message">hallo</span>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--          <div class="message-container ownmessage-container">-->
        <!--            <span class="message-name ownmessage-name">Michael</span>-->
        <!--            <span class="message ownmessage">ad fadsfdsa fdsf dsaf das fdsaf dsaf dasf sdaf df dsaf dsaf adf saf asd</span>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--          <div class="message-container">-->
        <!--            <span class="message-name">Tilman</span>-->
        <!--            <span class="message">hallo</span>-->
        <!--          </div>-->
        <!--        </div>-->
        <div *ngFor="let chatMessage of chatmessages">
          <div class="message-container" [ngClass]="{'ownmessage-container': chatName === chatMessage.absender}">
            <span class="message-name" [ngClass]="{'ownmessage-name': chatName === chatMessage.absender}">{{chatMessage.absender}}</span>
            <span class="message" [ngClass]="{'ownmessage': chatName === chatMessage.absender}">{{chatMessage.inhalt}}</span>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex">
      <input style="width: 100%" [(ngModel)]="chatInput">
      <button (click)="sendMessage()">Senden</button>
    </div>
    <h3 *ngIf="nameNichtEingegeben" style="color: red">namen eingeben</h3>
  </div>

</div>

<amplify-authenticator></amplify-authenticator>
<amplify-sign-out></amplify-sign-out>
